* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    background-color: whitesmoke;
    color: black;
    margin: 0;
    padding: 0;
}

header h1 {
    font-family: 'Courier New', Courier, monospace;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

footer {
    color: blue;
}